/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.hero {
  background: image_url('chuck2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 520px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;

}

.frosty2 {
  background: (#333300);
  color: white;
  box-shadow: 0px 3px 8px #333300;
  padding-left: 10px;
}

.row2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  background: (#888888);
  font-size: 18px;
}

.frosty2 h1 {
  font-family: "Cambria", Cambria;
  font-weight: 200;
  font-size: 50px;
}

.frosty2 p {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 18px;
}

.frosty p {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 18px;
}

body {
  background-color: #888888
}

.footer p {
 font-family: "Helvetica Neue", Helvetica;
 font-weight: 100;
 font-size: 14px;
 color: #888888;
}

a:link {
  color: #00cc66;
  text-decoration: none
}

a:visited {
  color: #00cc66;
  text-decoration: none
}

a:hover {
  color: #00cc66
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333300;
  padding: 10px;

}

.header:link {
  color: white;
  text-decoration: none;
}

.header:visited {
  color: white;
  text-decoration: none;
}

